<%- partial("_partial/menu", null, {cache: true}) %>
<div id="container">
    <%- partial("_partial/screen", null, {cache: false}) %>
</div>
<div id="preview"></div>
<% if (theme.beian.enable && theme.beian.enableFooter){ %>
	<center><a rel="nofollow" style="color: #666;" href="<%=theme.beian.link%>" target="_blank"><%=theme.beian.beianInfo%></a></center>
<%}%>

